@import 'tailwindcss/base';
@import 'tailwindcss/components';


@import 'tailwindcss/utilities';


@layer base {
  /*
  Font: 	Gilmer
  Style: 	Light
  URL: 		https://www.youworkforthem.com/font/T9758/gilmer
  Foundry: 	Piotr Lapa
  Foundry: 	https://www.youworkforthem.com/designer/1166/piotr-lapa
  Copyright: Copyright © 2018 by Piotr _apa. All rights reserved.
  Version: 	17
  Created:	August 17, 2018
  License: 	https://www.youworkforthem.com/font-license
  License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
              WebFont license rules. All other parties are strictly restricted
              from using the WebFonts(s) listed without a purchased license.
              All details above must always remain unaltered and visible in your CSS.
  */
  @font-face {
    font-family: 'Gilmer';
    src: url('/assets/fonts/gilmer-light.eot');
    src: url('/assets/fonts/gilmer-light.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/gilmer-light.woff2') format('woff2'),
    url('/assets/fonts/gilmer-light.woff') format('woff'),
    url('/assets/fonts/gilmer-light.ttf') format('truetype'),
    url('/assets/fonts/gilmer-light.svg#youworkforthem') format('svg');
    font-weight: 300;
    font-style: normal;
  }

  /*
  Font: 	Gilmer
  Style: 	Regular
  URL: 		https://www.youworkforthem.com/font/T9758/gilmer
  Foundry: 	Piotr Lapa
  Foundry: 	https://www.youworkforthem.com/designer/1166/piotr-lapa
  Copyright: Copyright © 2018 by Piotr _apa. All rights reserved.
  Version: 	17
  Created:	August 17, 2018
  License: 	https://www.youworkforthem.com/font-license
  License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
              WebFont license rules. All other parties are strictly restricted
              from using the WebFonts(s) listed without a purchased license.
              All details above must always remain unaltered and visible in your CSS.
  */
  @font-face {
    font-family: 'Gilmer';
    src: url('/assets/fonts/gilmer-regular.eot');
    src: url('/assets/fonts/gilmer-regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/gilmer-regular.woff2') format('woff2'),
    url('/assets/fonts/gilmer-regular.woff') format('woff'),
    url('/assets/fonts/gilmer-regular.ttf') format('truetype'),
    url('/assets/fonts/gilmer-regular.svg#youworkforthem') format('svg');
    font-weight: 400;
    font-style: normal;
  }

  /*
  Font: 	Gilmer
  Style: 	Medium
  URL: 		https://www.youworkforthem.com/font/T9758/gilmer
  Foundry: 	Piotr Lapa
  Foundry: 	https://www.youworkforthem.com/designer/1166/piotr-lapa
  Copyright: Copyright © 2018 by Piotr _apa. All rights reserved.
  Version: 	17
  Created:	August 17, 2018
  License: 	https://www.youworkforthem.com/font-license
  License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
              WebFont license rules. All other parties are strictly restricted
              from using the WebFonts(s) listed without a purchased license.
              All details above must always remain unaltered and visible in your CSS.
  */
  @font-face {
    font-family: 'Gilmer';
    src: url('/assets/fonts/gilmer-medium.eot');
    src: url('/assets/fonts/gilmer-medium.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/gilmer-medium.woff2') format('woff2'),
    url('/assets/fonts/gilmer-medium.woff') format('woff'),
    url('/assets/fonts/gilmer-medium.ttf') format('truetype'),
    url('/assets/fonts/gilmer-medium.svg#youworkforthem') format('svg');
    font-weight: 500;
    font-style: normal;
  }

  /*
  Font: 	Gilmer
  Style: 	Bold
  URL: 		https://www.youworkforthem.com/font/T9758/gilmer
  Foundry: 	Piotr Lapa
  Foundry: 	https://www.youworkforthem.com/designer/1166/piotr-lapa
  Copyright: Copyright © 2018 by Piotr _apa. All rights reserved.
  Version: 	17
  Created:	August 17, 2018
  License: 	https://www.youworkforthem.com/font-license
  License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
              WebFont license rules. All other parties are strictly restricted
              from using the WebFonts(s) listed without a purchased license.
              All details above must always remain unaltered and visible in your CSS.
  */

  @font-face {
    font-family: 'Gilmer';
    src: url('/assets/fonts/gilmer-bold.eot');
    src: url('/assets/fonts/gilmer-bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/gilmer-bold.woff2') format('woff2'),
    url('/assets/fonts/gilmer-bold.woff') format('woff'),
    url('/assets/fonts/gilmer-bold.ttf') format('truetype'),
    url('/assets/fonts/gilmer-bold.svg#youworkforthem') format('svg');
    font-weight: 700;
    font-style: normal;
  }

  /*
  Font: 	Gilmer
  Style: 	Heavy
  URL: 		https://www.youworkforthem.com/font/T9758/gilmer
  Foundry: 	Piotr Lapa
  Foundry: 	https://www.youworkforthem.com/designer/1166/piotr-lapa
  Copyright: Copyright © 2018 by Piotr _apa. All rights reserved.
  Version: 	17
  Created:	August 17, 2018
  License: 	https://www.youworkforthem.com/font-license
  License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
              WebFont license rules. All other parties are strictly restricted
              from using the WebFonts(s) listed without a purchased license.
              All details above must always remain unaltered and visible in your CSS.
  */

  @font-face {
    font-family: 'Gilmer';
    src: url('/assets/fonts/gilmer-heavy.eot');
    src: url('/assets/fonts/gilmer-heavy.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/gilmer-heavy.woff2') format('woff2'),
    url('/assets/fonts/gilmer-heavy.woff') format('woff'),
    url('/assets/fonts/gilmer-heavy.ttf') format('truetype'),
    url('/assets/fonts/gilmer-heavy.svg#youworkforthem') format('svg');
    font-weight: 900;
    font-style: normal;
  }

  /*
  Font: 	Gilmer
  Style: 	Outline
  URL: 		https://www.youworkforthem.com/font/T9758/gilmer
  Foundry: 	Piotr Lapa
  Foundry: 	https://www.youworkforthem.com/designer/1166/piotr-lapa
  Copyright: Copyright © 2018 by Piotr _apa. All rights reserved.
  Version: 	17
  Created:	August 17, 2018
  License: 	https://www.youworkforthem.com/font-license
  License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
              WebFont license rules. All other parties are strictly restricted
              from using the WebFonts(s) listed without a purchased license.
              All details above must always remain unaltered and visible in your CSS.
  */

  @font-face {
    font-family: 'Gilmer-Outline';
    src: url('/assets/fonts/gilmer-outline.eot');
    src: url('/assets/fonts/gilmer-outline.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/gilmer-outline.woff2') format('woff2'),
    url('/assets/fonts/gilmer-outline.woff') format('woff'),
    url('/assets/fonts/gilmer-outline.ttf') format('truetype'),
    url('/assets/fonts/gilmer-outline.svg#youworkforthem') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}


@layer components {
  h1 {
    @apply text-[2.25rem] leading-[36px] sm:text-[3rem] sm:leading-[52px] md:text-[3.25rem] md:leading-[56px] lg:text-[4rem] lg:leading-[68px] font-black; /* 64px */
  }

  h2 {
    @apply text-[3rem] leading-[54px] font-black; /* 48px */
  }

  h3 {
    @apply text-[2rem] font-bold; /* 32px */
  }

  .p1 {
    @apply text-[1rem] leading-[28px] sm:text-[1.25rem] sm:leading-[34px] lg:text-[1.5rem] lg:leading-[38px]; /* 24px */
  }

  .p2 {
    @apply text-[1.25rem]; /* 20px */
  }

  .p3 {
    @apply text-[1rem] leading-full; /* 16px */
  }

  .l1 {
    @apply text-[1.25rem] leading-full; /* 20px */
  }

  .l2 {
    @apply text-[1rem]; /* 16px */
  }

  .btn {
    @apply bg-white leading-full font-bold inline-block text-center flex-shrink-0 border border-3 shadow-primary transition-sm select-none hover:shadow-none ml-[12px] hover:translate-y-[12px] hover:translate-x-[-12px] focus:shadow-none focus:translate-y-[12px] focus:translate-x-[-12px] outline-primary;
  }

  .btn-sm {
    @apply text-[1rem] sm:text-[1.125rem] py-4 px-8;
  }

  .btn-lg {
    @apply text-[1.125rem] sm:text-[1.25rem] py-5 px-8;
  }

  .underline-grow {
    @apply inline transition-sm no-underline p-0 mx-0 my-6;
    background: linear-gradient(90deg, #0A0A0A 0, #0A0A0A) no-repeat; /* gray-900 */
    background-size: 0 0.15rem;
    background-position: left 98%;
  }

  .underline-grow:hover {
    background-size: 100% 0.15rem;
  }
}

@layer utilities {
  .transition-sm {
    @apply transition-all ease-in-out duration-150;
  }

  .bg-hero {
    background: url('/assets/images/hero-bg.svg') no-repeat center center/cover;
  }

  .outline-primary {
    @apply outline-none focus:outline focus:outline-orange-500 focus:outline-2;
  }
}
