@import 'tailwindcss/base';
@import 'tailwindcss/components';


@import 'tailwindcss/utilities';


@layer base {
  @font-face {
    font-family: 'Gilmer';
    font-weight: 300;
    src: url('../fonts/gilmer-light.ttf') format("truetype");
  }
  @font-face {
    font-family: 'Gilmer';
    src: url('../fonts/gilmer-regular.tff') format("truetype");
    font-weight: 400;
  }
  @font-face {
    font-family: 'Gilmer';
    font-weight: 500;
    src: url('../fonts/gilmer-medium.ttf') format("truetype");
  }
  @font-face {
    font-family: 'Gilmer';
    font-weight: 700;
    src: url('../fonts/gilmer-bold.ttf') format("truetype");
  }
  @font-face {
    font-family: 'Gilmer';
    font-weight: 900;
    src: url('../fonts/gilmer-heavy.ttf') format("truetype");
  }
}

nav{
  height: 56px;
}

.home-header{
  box-shadow: 0px 12px 32px 8px rgba(0, 0, 0, 0.08);
  background: #FFF5F0;
  height: 664px;
  padding: 56px 56px 96px;
  background: url('../../assets/images/header-bg.png') no-repeat;
}

.btn{
  display: inline-block;
  padding: 24px 40px;
  border: 3px solid #000;
  box-sizing: border-box;
  box-shadow: -12px 12px 0px #FF5200;
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
}

.btn:hover{
  /* box-shadow: inset -1px -1px 1px #000, inset 1px 1px 1px #000; */
  box-shadow: none;
  transition: box-shadow 0.2s ease-in-out;
}
